SoapHomeWorkClient/src/main/java/proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webServices.SoapHomeWork.example.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webServices.SoapHomeWork.example.com/" name="GameWebServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://webServices.SoapHomeWork.example.com/" schemaLocation="http://0.0.0.0/8088/?xsd=1"/>
</xsd:schema>
</types>
<message name="getGameById">
<part name="parameters" element="tns:getGameById"/>
</message>
<message name="getGameByIdResponse">
<part name="parameters" element="tns:getGameByIdResponse"/>
</message>
<message name="deleteGameById">
<part name="parameters" element="tns:deleteGameById"/>
</message>
<message name="deleteGameByIdResponse">
<part name="parameters" element="tns:deleteGameByIdResponse"/>
</message>
<message name="getAllGames">
<part name="parameters" element="tns:getAllGames"/>
</message>
<message name="getAllGamesResponse">
<part name="parameters" element="tns:getAllGamesResponse"/>
</message>
<message name="addGame">
<part name="parameters" element="tns:addGame"/>
</message>
<message name="addGameResponse">
<part name="parameters" element="tns:addGameResponse"/>
</message>
<message name="updateGame">
<part name="parameters" element="tns:updateGame"/>
</message>
<message name="updateGameResponse">
<part name="parameters" element="tns:updateGameResponse"/>
</message>
<portType name="GameWS">
<operation name="getGameById">
<input wsam:Action="http://webServices.SoapHomeWork.example.com/GameWS/getGameByIdRequest" message="tns:getGameById"/>
<output wsam:Action="http://webServices.SoapHomeWork.example.com/GameWS/getGameByIdResponse" message="tns:getGameByIdResponse"/>
</operation>
<operation name="deleteGameById">
<input wsam:Action="http://webServices.SoapHomeWork.example.com/GameWS/deleteGameByIdRequest" message="tns:deleteGameById"/>
<output wsam:Action="http://webServices.SoapHomeWork.example.com/GameWS/deleteGameByIdResponse" message="tns:deleteGameByIdResponse"/>
</operation>
<operation name="getAllGames">
<input wsam:Action="http://webServices.SoapHomeWork.example.com/GameWS/getAllGamesRequest" message="tns:getAllGames"/>
<output wsam:Action="http://webServices.SoapHomeWork.example.com/GameWS/getAllGamesResponse" message="tns:getAllGamesResponse"/>
</operation>
<operation name="addGame">
<input wsam:Action="http://webServices.SoapHomeWork.example.com/GameWS/addGameRequest" message="tns:addGame"/>
<output wsam:Action="http://webServices.SoapHomeWork.example.com/GameWS/addGameResponse" message="tns:addGameResponse"/>
</operation>
<operation name="updateGame">
<input wsam:Action="http://webServices.SoapHomeWork.example.com/GameWS/updateGameRequest" message="tns:updateGame"/>
<output wsam:Action="http://webServices.SoapHomeWork.example.com/GameWS/updateGameResponse" message="tns:updateGameResponse"/>
</operation>
</portType>
<binding name="GameWSPortBinding" type="tns:GameWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getGameById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteGameById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllGames">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addGame">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateGame">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GameWebServiceService">
<port name="GameWSPort" binding="tns:GameWSPortBinding">
<soap:address location="http://0.0.0.0/8088/"/>
</port>
</service>
</definitions>